<form [formGroup]="paymentForm">
  <fieldset>
    <legend>
      Paiement
    </legend>
    <div>
      {{ tour.resa !== null ? tour.resa : 1 }} place(s) {{ (tour.resa !== null ? tour.resa * 8 : 8) | currency: 'EUR':true }}
    </div>
  </fieldset>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="N° de carte" formControlName="cardNumber">
    </mat-form-field>
  </div>
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.cardNumber">
        <div class="error-message" *ngIf="cardNumber.hasError(validation.type) && (cardNumber.dirty || cardNumber.touched)">
          {{ validation.message }}
        </div>
      </ng-container>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Mois">
        <mat-option *ngFor="let month of monthes | keyvalue" [value]="month.key">
          {{ month.value | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Année">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</form>
