<form [formGroup]="paymentForm">
  <fieldset>
    <mat-form-field>
      <input formControlName="numeroCB" matInput placeholder="N° de carte" required>
    </mat-form-field>

    <ng-container *ngFor="let validation of validationMessages.numeroCB">
      <div class="error-message" *ngIf="numeroCB.hasError(validation.type) && (numeroCB.dirty || numeroCB.touched)">
        {{ validation.message }}
      </div>
    </ng-container>

    <label>Expiration :</label>
    <mat-form-field>
      <mat-select formControlName="month" placeholder="Mois" required>
        <mat-option *ngFor="let month of months" [value]="month">
          {{month | uppercase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Année" formControlName="year" required>
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="crypto" matInput placeholder="Cryptogramme">
    </mat-form-field>
  </fieldset>

  <fieldset>
    <button type="submit" mat-raised-button color="primary" [disabled]="paymentForm.invalid">Payer</button>
  </fieldset>
</form>
