<div class="card">
  <div class="card-body">
      <h5 class="d-flex card-header">
          <div class="mr-auto p2">{{ tour.hour | momentPipe: {affichage: 'DD-MM-YYYY'} }}</div>
          <div class="p2">{{ tour.hour | momentPipe: {affichage: 'HH:mm'} }}</div>
      </h5>
      <div class="card-title">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="decrement()"
                [disabled]="isMini"
              >
                <i class="icon-user-minus"></i>
              </button>
            </div>
            <!-- zone de saisie désactivée et en lecture seule -->
            <input type="number" readonly value="{{ nbPlaces }}" min="1" max="{{ tour.dispo }}" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            <!-- Bouton d'incrémentation -->
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="increment()"
                [disabled]="isMaxi"
              >
                <i class="icon-user-plus"></i>
              </button>
            </div>
            <div class="input-group-append">
                <button
                  class="btn btn-outline-success"
                  type="button"
                  (click)="sendIt()"
                >
                  Réservez !
                </button>
              </div>
          </div>
      </div>
  </div>
</div>
