<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>reorder</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['']">
              <mat-icon>flight_takeoff</mat-icon>
              <span>Tournées</span>
            </button>
            <button mat-menu-item [routerLink]="['resas']">
              <mat-icon>list</mat-icon>
              <span>Mes réservations</span>
            </button>
          </mat-menu>
          <span class="spacer"></span>

          <span>Navette Ste - Stex</span>
    </mat-toolbar-row>



  </mat-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>

</div>

