<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf=currentUser>
        <mat-icon>reorder</mat-icon>
      </button>


      <span class="spacer"></span>

      <span>Todoist</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" *ngIf=currentUser>
          <mat-icon>perm_identity</mat-icon>
        </button>
        
        <span *ngIf=currentUser>{{user.nickname}}</span>
    </mat-toolbar-row>



  </mat-toolbar>
  <main>
    <mat-drawer-container class="example-container" hasBackdrop="false">
      <mat-drawer #drawer mode="over">
        <mat-list role="list">
          <mat-list-item role="listitem" [routerLink]="['mytasks']">My tasks</mat-list-item>
          <mat-list-item role="listitem"  [routerLink]="['myprojects']">My Projects</mat-list-item>
          <mat-list-item role="listitem">Mon compte</mat-list-item>
        </mat-list>
      </mat-drawer>
      <mat-drawer-content>
        
            <router-outlet></router-outlet>
            <alert></alert>
        
          
      </mat-drawer-content>
    </mat-drawer-container>
  </main>

</div>