<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf=currentUser>
        <mat-icon>reorder</mat-icon>
      </button>
      
      <span class="spacer"></span>

      <span>Todoist</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" *ngIf=currentUser>
        <mat-icon>power_settings_new</mat-icon>
      </button>

      <span *ngIf=currentUser>{{user.nickname}}</span>
    </mat-toolbar-row>

  </mat-toolbar>
  <main class="body">
    <mat-drawer-container class="example-container" hasBackdrop="true">
      <mat-drawer #drawer mode="over">
        <h4>Welcome {{user.nickname}}</h4>
        <mat-list role="list">
          <mat-list-item mat-icon-button (click)="drawer.toggle()" role="listitem" [routerLink]="['mytasks']">
            <button mat-icon-button *ngIf=currentUser>
              <mat-icon>assignment</mat-icon>
            </button> My tasks
          </mat-list-item>
          <mat-list-item mat-icon-button (click)="drawer.toggle()" role="listitem" [routerLink]="['myprojects']">
            <button mat-icon-button *ngIf=currentUser>
              <mat-icon>tab</mat-icon>
            </button>
            My Projects
          </mat-list-item>

          <mat-list-item mat-icon-button (click)="drawer.toggle()" role="listitem" [routerLink]="['7days']">
              <button mat-icon-button *ngIf=currentUser>
                <mat-icon>date_range</mat-icon>
              </button>
              My tasks- 7 days
            </mat-list-item>
            <mat-list-item mat-icon-button (click)="drawer.toggle()" role="listitem" [routerLink]="['roguetasks']">
                <button mat-icon-button *ngIf=currentUser>
                  <mat-icon>work_off</mat-icon>
                </button>
                My rogue tasks
              </mat-list-item>
          <mat-list-item mat-icon-button (click)="drawer.toggle()" role="listitem">
            <button mat-icon-button *ngIf=currentUser>
              <mat-icon>perm_identity</mat-icon>
            </button>
            My account
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <mat-drawer-content>

        <router-outlet></router-outlet>
        <alert></alert>


      </mat-drawer-content>
    </mat-drawer-container>
  </main>

</div>