<div class="container">

  <div>
    <div>
      <div>
        <mat-card>
          <h4>Rogue tasks</h4>
        </mat-card>
      </div>
  
      
      <mat-accordion>
        <mat-expansion-panel [appPriorityManager]="task" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false" *ngFor="let task of tasks ">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <span *ngIf="!tasks">
                      You do not have any rogue tasks!
                  </span>
  
                  
              </mat-panel-title>

            <mat-panel-title>
                <span *ngIf="task.category;else other_content">
                    Projet: {{task.category.category}}
                </span>

                <ng-template #other_content> Projet: Empty</ng-template>
            </mat-panel-title>
  
            <mat-panel-description>
              {{task.label}}
            </mat-panel-description>
  
          </mat-expansion-panel-header>
          <form [formGroup]="editForm" (ngSubmit)="editTaskSubmit()" *ngIf="edit">
  
            <div class="row" *ngIf="edit">
              <div class="col-md-9">
                <mat-panel-description>
                  <div>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" formControlName="date"
                        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" placeholder="Date: {{task.deadline}}">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Deadline is required</div>
                      </div>
                    </mat-form-field>
  
                  </div>
                </mat-panel-description>
                <mat-panel-description>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
                      placeholder="Date: {{task.deadline}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                      <div *ngIf="f.date.errors.required">Deadline is required</div>
                    </div>
                  </mat-form-field>

                </div>
              </mat-panel-description>
              <mat-panel-description>
                <mat-form-field>
                  <mat-select formControlName="priority" placeholder="Priority: {{task.priority}}" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }">
                    <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                      {{priority.viewValue}}
                    </mat-option>
                  </mat-select>

                  <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                    <div *ngIf="f.priority.errors.required">Priority is required</div>
                  </div>
                </mat-form-field>

              </mat-panel-description>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <button mat-button [disabled]="loading" class="btn btn-primary">Save</button>
                <mat-spinner *ngIf="loading"></mat-spinner>

                <button mat-button class="btn btn-secondary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>

        </form>

        <div class="row" *ngIf="!edit">
          <div class="col-md-9">
            <mat-panel-description>
              Date: {{task.deadline}}
            </mat-panel-description>
            <mat-panel-description>
              Priorité: {{task.priority}}
            </mat-panel-description>
          </div>
          <div class="col-md-1">
            <button mat-icon-button (click)="editTask(task)">
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-icon-button (click)="taskDelete(task)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
          <div class="col-md-1">
            <button mat-icon-button (click)="taskDone(task)">
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>


    </mat-accordion>
  </div>

</div>
