/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

@import "~bf-icomoon/css/icomoon-free.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#toast-container > div {
  opacity:.90!important;
}
.body{
  background-color: rgb(248, 248, 248);
}
.mat-card {
  background-color: rgb(236, 238, 241);
}

div{
  margin-bottom:10px
}